*.sln
*.exe
*.obj
*.ipch
*.db
*.opendb
*.suo
*.vcxproj
*.tlog
*.idb
*.pdb
*.ilk
*.user
*.log
*.lib
*.ini
*.vs
*.filters
*.DS_Store
*.plist
*.pbxproj
*.a
*.xcuserstate
*.xcworkspacedata
Assignment1/bin
*.xcscheme
*.xcbkptlist
*.enc
*.tmp

Dependencies/SFML-2.5.1
ImGui/bin-int
Assignment1/bin
Assignment1/obj
Assignment2/bin
Assignment2/obj


Assignment2/package.txt

Assignment2/package_debug.txt
